@import '../common/var';
@mixin activeColor($color){
    &:active{
        background: rgba($color, .7);
    }
}
.vui-button{
    display: inline-block;
    padding: 10px 15px;
    background: #eee;
    color: $font;
    border: 0;
    border-radius: 6px;
    outline:none;
    cursor: pointer;
    transition: all .1s;
    margin: 0 5px 10px;
    user-select: none;
    @include activeColor(#eee);
    
    &.primary{
        background: $primary;
        color: #fff;
        @include activeColor($primary);
    }

    &.success{
        background: $success;
        color: #fff;
        @include activeColor($success);
    }

    &.danger{
        background: $danger;
        color: #fff;
        @include activeColor($danger);
    }

    &.warning{
        background: $warn;
        color: #fff;
        @include activeColor($warn);
    }
    &.error{
        background: $error;
        color: #fff;
        @include activeColor($error);
    }
    &.disable{
        background: $disable;
        color: #f1f2f6;
        cursor: not-allowed; 
    }
}