@import '../common/var';
@mixin activeColor($color){
    &:active{
        background: rgba($color, .7);
    }
}
.vui-button{
    display: inline-block;
    background: #eee;
    color: $font;
    border: 0;
    border-radius: 6px;
    outline:none;
    cursor: pointer;
    transition: all .1s;
    margin: 0 5px 10px;
    user-select: none;
    @include activeColor(#eee);
    &>.content{
        padding: .6em 1em;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
    }
    &.primary{
        background: $primary;
        color: #fff;
        @include activeColor($primary);
    }
    &.success{
        background: $success;
        color: #fff;
        @include activeColor($success);
    }
    &.danger{
        background: $danger;
        color: #fff;
        @include activeColor($danger);
    }
    &.warning{
        background: $warn;
        color: #fff;
        @include activeColor($warn);
    }
    &.error{
        background: $error;
        color: #fff;
        @include activeColor($error);
    }
    &.disable{
        background: $disable;
        color: #f1f2f6;
        cursor: not-allowed; 
    }
}