@import '../common/var';
@mixin activeColor($color){
    &:active{
        background: rgba($color, .7);
    }
}
.vui-button{
    display: inline-block;
    background: #eee;
    color: $font;
    border-radius: 6px;
    outline:none;
    cursor: pointer;
    transition: all .1s;
    margin: 0 5px;
    user-select: none;
    &>.content{
        padding: .4em .9em;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        box-sizing: border-box;
    }
    &.default{
        background: #fff;
        border: 1px solid $primary;
        @include activeColor(rgb(240, 240, 240));
    }
    &.cancel{
        padding: 1px;
        background: #eee;
        @include activeColor(#eee);
    }
    &.primary{
        padding: 1px;
        background: $primary;
        color: #fff;
        @include activeColor($primary);
    }
    &.success{
        padding: 1px;
        background: $success;
        color: #fff;
        @include activeColor($success);
    }
    &.danger{
        padding: 1px;
        background: $danger;
        color: #fff;
        @include activeColor($danger);
    }
    &.warning{
        padding: 1px;
        background: $warn;
        color: #fff;
        @include activeColor($warn);
    }
    &.error{
        padding: 1px;
        background: $error;
        color: #fff;
        @include activeColor($error);
    }
    &.info{
        padding: 1px;
        background: $info;
        color: #fff;
        @include activeColor($info);
    }
    &.disable{
        padding: 1px;
        background: $disable;
        color: #f1f2f6;
        cursor: not-allowed; 
    }
}