@import "../common/var";
.vui-checkbox{
    display: inline-flex;
    margin-right: 10px;
    user-select: none;
    vertical-align: top;
    &>.checkbox{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        height: 20px;
        width: 20px;
        font-size: 26px;
        cursor: pointer;
        vertical-align: top;
        transition: all .5s;
        &.active{
            color: #fff;
            background: $success;
            border-color: $success;
            &>.icon{
                transform: scale(1);
            }
        }
        &>.icon{
            color: #fff;
            transition: all .2s;
            transform: scale(0);
        }
    }
    &>.label{
        vertical-align: top;
        padding: 0 10px;
        line-height: 20px;
    }
}