@import '../common/var';

#vui-code-panel{
    position: relative;
    padding: 20px;
    .panel{
        transition: all .7s;
        border-radius: 3px;
        cursor: default;
        display: flex;
        border: 1px solid #eee;
        &>.left, &>.right{
            width: 50%;
        }
        .desc{
            padding: 20px;
            border-bottom: 1px solid #eee;
        }
        .show-style{
            padding: 30px 20px;
        }
        .origin-code{
            box-sizing: border-box;
            background: #eeeeff;
            overflow: hidden;
            &.transition{
                transition: all .5s;
            }
        }
        // 展开按钮
        .show-control{
            height: 40px;
            background: #1e90ff;
            transition: all .7s;
            text-align: center;
            line-height: 40px;
            color: #fff;
            font-size: 14px;
            &:hover{
                background: #70a1ff;
            }
        }
        &:hover{
            box-shadow: 2px 2px 10px rgba(60,60,60, .3);
            border: 1px solid rgba(0,0,0, .1)
        }
    }
    
}