@import "../common/var";
.vui-group{
    display: flex;
    box-sizing: border-box;
    &>div{
        margin: 0;
        border-radius: 0;
        &:first-child{
            border-radius: 6px 0 0 6px;
        }
        &:last-child{
            border-radius: 0 6px 6px 0;
        }
    }
}