@import "../common/var";
.vui-loading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: default;
    &>.tip{
        padding: 15px 25px;
        color: #fff;
        background: rgba(0,0,0, .6);
        max-width: 200px;
    }
}

// loading bar
#vui-loading-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .bar{
        transition: all 0.7s;
        background: $primary;
        width: 0%;

        &.loading{
            background: $primary;
        }
        &.success{
            background: $success;
        }
        &.fail{
            background: $error;
        }
    }
}