@import "../common/var";
.vui-progress{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    &>.contain{
        height: 100%;
        flex: 1;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        &>.bar{
            position: absolute;
            height: 100%;
            background: $primary;
            box-shadow: 1px 0px 1px $primary;
            z-index: 1;
            transition: all .4s;
            &.success{
                background: $success;
                box-shadow: 1px 0px 1px $success;
            }
            &.warning{
                background: $warn;
                box-shadow: 1px 0px 1px $warn;
            }
            &.error{
                background: $error;
                box-shadow: 1px 0px 1px $error;
            }
        }

        &>.bg{
            position: absolute;
            height: 100%;
            width: 100%;
            background: #eee;
            top: 0;
        }
    }
    &>.percent{
        margin: 0 5px;
        width: 30px;
        &.success{
            color: $success;
        }
    }
}