@import "../common/var";
.vui-radio{
    display: inline-block;
    position: relative;
    margin-right: 10px;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    &>.radio{
        vertical-align:  top;
        position: relative;
        display: inline-block;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 20px;
        line-height: 1;
        width: 20px;
        height: 20px;
        font-size: 20px;
        transition: all .3s;
        &.active{
            border: 1px solid $success;
            color: #fff;
            background: $success;
            &>.round{
                transform: scale(1);
            }
        }
        &>.round{
            height: 10px;
            width: 10px;
            border-radius: 10px;
            background: #fff;
            margin: 4px;
            transform: scale(0);
            transition: all .5s;
        }
    }
    &>.label{
        vertical-align:  top;
        display: inline-block;
        padding: 0 10px;
    }
}