@import "../common/var";
.vui-switch{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    align-self: center;
    user-select: none;

    width: 52px;
    border-radius: 16px;
    height: 32px;

    &>.icon{
        z-index: 0;
        margin: 0;
        padding: 0;
        appearance: none;
        border: none;
        position: relative;
        transition: .3s;
        box-sizing: border-box;
        display: block;
        cursor: pointer;

        width: 52px;
        border-radius: 16px;
        height: 32px;
        background: #e5e5e5;

        &::before{
            content: ' ';
            position: absolute;
            left: 2px;
            top: 2px;
            width: 48px;
            height: 28px;
            border-radius: 16px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background: #fff;
            z-index: 1;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        &::after{
            height: 28px;
            width: 28px;
            top: 2px;
            left: 2px;
            -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);
            box-shadow: 0 2px 4px rgba(0,0,0,.3);
            border-radius: 14px;

            background: #fff;
            position: absolute;
            z-index: 2;
            -webkit-transform: translateX(0);
            transform: translateX(0);
            -webkit-transition-duration: .3s;
            transition-duration: .3s;

            content: ' ';
        }
    }
    
    &.select>.icon{
        background: #4cd964;
        &::before{
            transform: scale(0);
        }
        &::after{
            transform: translateX(20px);
        }
    }
}