$primary: #1e90ff;
$deep-primary: #3742fa;
$info: #0fcfe9;
$warn: #ffa502;
$danger: #ff6348;
$success: #2ed573;
$error: #ff4757;
$disable: #ced6e0;

// 字体
$font: #333;
$bg: #f1f1f1;
$deep-bg: #2f3542;